.form {
  
  h1 {
    text-align: center;
  }
  
  .inputs {

    input {
      width: 40rem;
      height: 3rem;
      padding: 1rem;
      margin: .3rem 0 1.3rem 0;
      
      display: flex;
      
      font-size: 1.3em;

      &:focus {
        outline: 0;
      }
    }
    
    .error {
      color: var(--red);
      font-size: 1.3em;
    }
  }

  .button {
    height: 3rem;
    padding: 1rem 2rem;
    margin: 1rem auto;
    
    display: flex;
    align-items: center;

    color: var(--black);
    background-color: var(--main-color);
    border-radius: 50rem;
    font-size: 1.5em;

    transition: .3s;

    &:not(:disabled) {
      &:hover {
        height: 3.5rem;
        padding: 1rem 2.5rem;
        color: var(--black);
      }
    }

    &:disabled {
      color: var(--white);
    }
  }
}