* {
  --black: #111;
  
  --white: #EFEFEF;
  --white-700: rgba(255, 255, 255, .7);
  --white-600: rgba(255, 255, 255, .6);
  --white-500: rgba(255, 255, 255, .5);
  --white-400: rgba(255, 255, 255, .4);
  
  --red: #DC2626
}