@import '~antd/dist/antd.css';
@import './variables';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

ul, li {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  background-color: inherit;
}

@media (max-width: 576px) {
  * {
    font-size: 10px;
  }
}
