.header {
  height: 4rem;
  padding: 0 1rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 7px 17px 0px rgba(34, 60, 80, 0.13);
  -moz-box-shadow: 0px 7px 17px 0px rgba(34, 60, 80, 0.13);
  box-shadow: 0px 7px 17px 0px rgba(34, 60, 80, 0.13);
  
  .left {
    .logo {
      color: var(--black);
      font-size: 2em;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .user {
      margin: 0 1.3rem 0 0;
      
      font-size: 1.3em;
      font-weight: 500;
      color: var(--black);
    }
  }
}