.buttons {

  button {
    padding: .8rem 1.8rem;
    font-size: 1.3em;
    border-radius: .5rem;
  }
  
  .sign-in {
    background-color: transparent;
  }

  .sign-up {
    background-color: var(--red);
    color: var(--black);
  }
}